@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.tictactoe-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

    @include responsive(laptop) {
      gap: 48px;
    }
  }

  &__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 118px;
    height: 96px;
    color: var(--dark-purple);
    border-radius: 15px;
    font-size: 36px;

    @include responsive(laptop) {
      width: 160px;
      height: 120px;
      font-size: 40px;
    }

    &--you {
      background-color: var(--bright-green);
    }

    &--pc {
      background-color: var(--sky-blue);
    }
  }

  &__points {
    font-size: 48px;
    line-height: 0.7;

    @include responsive(laptop) {
      font-size: 64px;
    }
  }

  &__board {
    position: absolute;
    top: 120px;
    display: grid;
    gap: 14px;

    @include responsive(laptop) {
      position: static;
      gap: 24px;
    }
  }

  &__row {
    display: flex;
    gap: 14px;

    @include responsive(laptop) {
      gap: 24px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    background-color: var(--purple);
    border-radius: 12px;

    @include responsive(laptop) {
      width: 120px;
      height: 120px;
      border-radius: 15px;
    }
  }

  &__turn {
    position: absolute;
    top: 530px;
    font-size: 40px;

    &--you {
      color: var(--bright-green);
      text-shadow: 0px 0px 35px var(--bright-green);
    }

    &--pc {
      color: var(--sky-blue);
      text-shadow: 0px 0px 35px var(--sky-blue);
    }

    @include responsive(laptop) {
      position: static;
      font-size: 48px;
    }
  }

  &__result {
    position: absolute;
    top: 520px;
    font-size: 48px;

    @include responsive(laptop) {
      position: static;
      margin-bottom: 6px;
      font-size: 64px;
    }

    &--you {
      color: var(--bright-green);
      text-shadow: 0px 0px 35px var(--bright-green);
    }

    &--pc {
      color: var(--sky-blue);
      text-shadow: 0px 0px 35px var(--sky-blue);
    }

    &--both {
      color: var(--between-green-blue);
      text-shadow: 0px 0px 35px var(--between-green-blue);
    }
  }
}

.button-tictactoe {
  position: absolute;
  top: 530px;
  width: 210px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-image: var(--gradient-green-purple);
  color: var(--white);
  cursor: pointer;

  &--restart {
    top: 590px;
  }

  @include hover {
    &:hover {
      box-shadow: 0px 0px 20px 0px #7500d2;
    }
  }

  @include responsive(laptop) {
    position: static;
    width: 300px;
    padding: 12px;
    border-radius: 15px;
    font-size: 40px;
  }
}

.active {
  @include hover {
    &:hover {
      cursor: pointer;
      background-color: var(--light-purple);
    }
  }
}

.circle {
  width: 58px;
  height: 58px;

  @include responsive(laptop) {
    width: auto;
    height: auto;
  }
}

.cross {
  width: 50px;
  height: 50px;

  @include responsive(laptop) {
    width: auto;
    height: auto;
  }
}
