:root {
  /* Variables CSS */
  --dark-purple: #35005f;
  --purple: #7026aa;
  --light-purple: #a855ea;
  --white: #ffffff;
  --bright-green: #00ffc2;
  --sky-blue: #64daff;
  --between-green-blue: #32ede0;
  --bright-red: #f00;
  --magenta: #b11e69;
  --gradient-green-purple: linear-gradient(90deg, #00ffc2 0%, #7026aa 100%);
  --gradient-red-purple: linear-gradient(90deg, #f00 0%, #7026aa 100%);
  --gradient-orange-purple: linear-gradient(90deg, #f90 0%, #7026aa 100%);
}

/* Variables SASS */
